-- MariaDB dump 10.19  Distrib 10.4.27-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sibambo
-- ------------------------------------------------------
-- Server version	10.4.27-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `m_city`
--

DROP TABLE IF EXISTS `m_city`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `m_city` (
  `M_CityID` int(11) NOT NULL AUTO_INCREMENT,
  `M_CityName` varchar(50) NOT NULL,
  `M_CityCode` varchar(50) NOT NULL,
  `M_CityM_ProvinceID` int(11) NOT NULL,
  `M_CityIsDefault` char(1) NOT NULL DEFAULT 'N',
  `M_CityROID` int(11) NOT NULL DEFAULT 0,
  `M_CityCreated` datetime DEFAULT current_timestamp(),
  `M_CityLastUpdated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `M_CityIsActive` char(1) NOT NULL DEFAULT 'Y',
  PRIMARY KEY (`M_CityID`),
  KEY `M_CityName` (`M_CityName`),
  KEY `M_CityM_ProvinceID` (`M_CityM_ProvinceID`),
  KEY `M_CityIsActive` (`M_CityIsActive`),
  KEY `M_CityCode` (`M_CityCode`),
  KEY `M_CityIsDefault` (`M_CityIsDefault`),
  KEY `M_CityROID` (`M_CityROID`)
) ENGINE=InnoDB AUTO_INCREMENT=495 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_city`
--

LOCK TABLES `m_city` WRITE;
/*!40000 ALTER TABLE `m_city` DISABLE KEYS */;
/*!40000 ALTER TABLE `m_city` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_contact`
--

DROP TABLE IF EXISTS `m_contact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `m_contact` (
  `M_ContactID` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id',
  `M_ContactName` varchar(100) DEFAULT NULL COMMENT 'contact''s name',
  `M_ContactDetails` varchar(255) DEFAULT NULL COMMENT 'contact''s detail',
  `M_ContactNotes` varchar(255) DEFAULT NULL COMMENT 'notes for the contact',
  `M_ContactS_UserID` int(11) NOT NULL DEFAULT 0 COMMENT 'whos input',
  `M_ContactIsActive` char(1) NOT NULL DEFAULT 'Y' COMMENT 'active or not',
  `M_ContactCreated` datetime NOT NULL DEFAULT current_timestamp() COMMENT 'when created',
  `M_ContactLastUpdated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'when updated',
  PRIMARY KEY (`M_ContactID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_contact`
--

LOCK TABLES `m_contact` WRITE;
/*!40000 ALTER TABLE `m_contact` DISABLE KEYS */;
/*!40000 ALTER TABLE `m_contact` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_contactdetail`
--

DROP TABLE IF EXISTS `m_contactdetail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `m_contactdetail` (
  `M_ContactDetailID` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id',
  `M_ContactDetailM_ContactID` int(11) DEFAULT NULL COMMENT 'contact''s id',
  `M_ContactDetailType` char(1) DEFAULT 'P' COMMENT 'type of contact',
  `M_ContactDetailDesc` varchar(50) DEFAULT NULL COMMENT 'description',
  `M_ContactDetailS_UserID` int(11) NOT NULL DEFAULT 0 COMMENT 'whos input',
  `M_ContactDetailIsActive` char(1) NOT NULL DEFAULT 'Y' COMMENT 'active or not',
  `M_ContactDetailCreated` datetime NOT NULL DEFAULT current_timestamp() COMMENT 'when created',
  `M_ContactDetailLastUpdated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'when updated',
  PRIMARY KEY (`M_ContactDetailID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_contactdetail`
--

LOCK TABLES `m_contactdetail` WRITE;
/*!40000 ALTER TABLE `m_contactdetail` DISABLE KEYS */;
/*!40000 ALTER TABLE `m_contactdetail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_customer`
--

DROP TABLE IF EXISTS `m_customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `m_customer` (
  `M_CostumerID` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id',
  `M_CostumerNumber` varchar(25) DEFAULT NULL COMMENT 'costumer''s number',
  `M_CostumerName` varchar(100) DEFAULT NULL COMMENT 'costumer''s name',
  `M_CostumerAddress` varchar(255) DEFAULT NULL COMMENT 'costumer''s address',
  `M_CostumerM_CityID` int(11) DEFAULT NULL COMMENT 'costumer''s city',
  `M_CostumerM_ContactID` int(11) DEFAULT NULL COMMENT 'costumer''s contact',
  `M_CostumerNote` text DEFAULT NULL COMMENT 'notes for the costumer',
  `M_CostumerS_UserID` int(11) NOT NULL DEFAULT 0 COMMENT 'whos input',
  `M_CostumerIsActive` char(1) DEFAULT 'Y' COMMENT 'active or not',
  `M_CostumerCreated` datetime DEFAULT current_timestamp() COMMENT 'when created',
  `M_CostumerLastUpdated` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'when updated',
  PRIMARY KEY (`M_CostumerID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_customer`
--

LOCK TABLES `m_customer` WRITE;
/*!40000 ALTER TABLE `m_customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `m_customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_employee`
--

DROP TABLE IF EXISTS `m_employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `m_employee` (
  `M_EmployeeID` int(11) NOT NULL AUTO_INCREMENT,
  `M_EmployeeM_PositionID` int(11) NOT NULL DEFAULT 0,
  `M_EmployeeCode` varchar(50) DEFAULT NULL,
  `M_EmployeeName` varchar(50) DEFAULT NULL,
  `M_EmployeeDOB` date DEFAULT NULL,
  `M_EmployeeAddress` varchar(255) DEFAULT NULL,
  `M_EmployeeM_CityID` int(11) NOT NULL DEFAULT 0,
  `M_EmployeeM_ContactID` int(11) NOT NULL DEFAULT 0,
  `M_EmployeeJoinDate` date DEFAULT NULL,
  `M_EmployeeNote` text DEFAULT NULL,
  `M_EmployeeS_UserID` int(11) NOT NULL DEFAULT 0,
  `M_EmployeeIsActive` char(1) NOT NULL DEFAULT 'Y',
  `M_EmployeeCreated` datetime NOT NULL DEFAULT current_timestamp(),
  `M_EmployeeLastUpdated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`M_EmployeeID`),
  KEY `M_EmployeeM_PosID` (`M_EmployeeM_PositionID`),
  KEY `M_EmployeeCode` (`M_EmployeeCode`),
  KEY `M_EmployeeName` (`M_EmployeeName`),
  KEY `M_EmployeeIsActive` (`M_EmployeeIsActive`),
  KEY `M_EmployeeM_ContactID` (`M_EmployeeM_ContactID`),
  KEY `M_EmployeeAddress` (`M_EmployeeAddress`),
  KEY `M_EmployeeJoinDate` (`M_EmployeeJoinDate`),
  KEY `M_EmployeeDOB` (`M_EmployeeDOB`),
  KEY `M_EmployeeS_UserID` (`M_EmployeeS_UserID`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_employee`
--

LOCK TABLES `m_employee` WRITE;
/*!40000 ALTER TABLE `m_employee` DISABLE KEYS */;
INSERT INTO `m_employee` VALUES (11,1,'1234','asdasdasd','0000-00-00','Klipang Semarang\nKel. Sendangmulyo',1,34354,'0000-00-00','dfdfsdf',0,'N','2024-01-09 13:28:30','2024-01-09 13:48:16'),(12,1,'K001','Karyawan 01','1984-02-09','Semarang',245,0,'2024-01-22','sdfdf',0,'Y','2024-01-22 13:30:41','2024-01-22 13:30:41');
/*!40000 ALTER TABLE `m_employee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_position`
--

DROP TABLE IF EXISTS `m_position`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `m_position` (
  `M_PositionID` int(11) NOT NULL AUTO_INCREMENT,
  `M_PositionS_CompanyID` int(11) NOT NULL DEFAULT 0,
  `M_PositionCode` varchar(25) DEFAULT NULL,
  `M_PositionName` varchar(50) DEFAULT NULL,
  `M_PositionNote` varchar(255) DEFAULT NULL,
  `M_PositionIsActive` char(1) NOT NULL DEFAULT 'Y',
  `M_PositionCreated` datetime NOT NULL DEFAULT current_timestamp(),
  `M_PositionLastUpdated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`M_PositionID`),
  KEY `M_PositionS_CompanyID` (`M_PositionS_CompanyID`),
  KEY `M_PositionCode` (`M_PositionCode`),
  KEY `M_PositionName` (`M_PositionName`),
  KEY `M_PositionIsActive` (`M_PositionIsActive`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_position`
--

LOCK TABLES `m_position` WRITE;
/*!40000 ALTER TABLE `m_position` DISABLE KEYS */;
INSERT INTO `m_position` VALUES (1,0,'01','Direktur Utama','Main Director','Y','2024-01-02 10:05:31','2024-02-11 16:36:44'),(2,0,'02','Manager','Manajer','Y','2024-01-22 13:05:27','2024-02-11 16:37:00'),(4,0,'03','Manager','manajer','N','2024-01-22 13:05:44','2024-01-22 13:10:10'),(6,0,'04','Manager','manajer','N','2024-01-22 13:06:01','2024-01-22 13:10:08'),(8,0,NULL,'Position','What a position ok','Y','2024-02-11 16:37:13','2024-02-12 13:21:54');
/*!40000 ALTER TABLE `m_position` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_province`
--

DROP TABLE IF EXISTS `m_province`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `m_province` (
  `M_ProvinceID` int(11) NOT NULL AUTO_INCREMENT,
  `M_ProvinceName` varchar(50) NOT NULL,
  `M_ProvinceCode` varchar(50) NOT NULL,
  `M_ProvinceZalfaCode` char(2) DEFAULT NULL,
  `M_ProvinceIsDefault` char(1) NOT NULL DEFAULT 'N',
  `M_ProvinceROID` int(11) NOT NULL DEFAULT 0,
  `M_ProvinceCreated` datetime NOT NULL DEFAULT current_timestamp(),
  `M_ProvinceLastUpdated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `M_ProvinceIsActive` char(1) NOT NULL DEFAULT 'Y',
  PRIMARY KEY (`M_ProvinceID`),
  KEY `M_ProvinceName` (`M_ProvinceName`),
  KEY `M_ProvinceIsActive` (`M_ProvinceIsActive`),
  KEY `M_ProvinceIsDefault` (`M_ProvinceIsDefault`),
  KEY `M_ProvinceROID` (`M_ProvinceROID`),
  KEY `M_ProvinceZalfaCode` (`M_ProvinceZalfaCode`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_province`
--

LOCK TABLES `m_province` WRITE;
/*!40000 ALTER TABLE `m_province` DISABLE KEYS */;
/*!40000 ALTER TABLE `m_province` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_status`
--

DROP TABLE IF EXISTS `m_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `m_status` (
  `M_StatusID` int(11) NOT NULL AUTO_INCREMENT,
  `M_StatusCode` varchar(25) DEFAULT NULL,
  `M_StatusName` varchar(100) DEFAULT NULL,
  `M_StatusSort` int(11) NOT NULL DEFAULT 0,
  `M_StatusColor` varchar(50) DEFAULT NULL,
  `M_StatusIsActive` char(1) NOT NULL DEFAULT 'Y',
  `M_StatusCreated` datetime NOT NULL DEFAULT current_timestamp(),
  `M_StatusLastUpdated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `M_StatusUID` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`M_StatusID`),
  KEY `M_StatusCode` (`M_StatusCode`),
  KEY `M_StatusName` (`M_StatusName`),
  KEY `M_StatusSort` (`M_StatusSort`),
  KEY `M_StatusIsActive` (`M_StatusIsActive`),
  KEY `M_StatusUID` (`M_StatusUID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_status`
--

LOCK TABLES `m_status` WRITE;
/*!40000 ALTER TABLE `m_status` DISABLE KEYS */;
INSERT INTO `m_status` VALUES (1,'001','New',1,NULL,'Y','2024-01-23 10:34:23','2024-01-23 10:34:23',0),(2,'002','Process',2,NULL,'Y','2024-01-23 10:34:34','2024-01-23 10:34:34',0),(3,'003','Stuck',3,NULL,'Y','2024-01-23 10:34:50','2024-01-23 10:34:50',0);
/*!40000 ALTER TABLE `m_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m_vendor`
--

DROP TABLE IF EXISTS `m_vendor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `m_vendor` (
  `M_VendorID` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id',
  `M_VendorNumber` varchar(50) DEFAULT NULL COMMENT 'vendor''s number',
  `M_VendorName` varchar(100) DEFAULT NULL COMMENT 'vendor''s name',
  `M_VendorAddress` varchar(255) DEFAULT NULL COMMENT 'vendor''s address',
  `M_VendorM_CityID` int(11) DEFAULT NULL COMMENT 'vendor''s city',
  `M_VendorM_ContactID` int(11) DEFAULT NULL COMMENT 'vendor''s contact',
  `M_VendorS_UserID` int(11) NOT NULL DEFAULT 0 COMMENT 'whos input',
  `M_VendorIsActive` char(1) NOT NULL DEFAULT 'Y' COMMENT 'active or not',
  `M_VendorCreated` datetime NOT NULL DEFAULT current_timestamp() COMMENT 'when created',
  `M_VendorLastUpdated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'when updated',
  PRIMARY KEY (`M_VendorID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m_vendor`
--

LOCK TABLES `m_vendor` WRITE;
/*!40000 ALTER TABLE `m_vendor` DISABLE KEYS */;
/*!40000 ALTER TABLE `m_vendor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_company`
--

DROP TABLE IF EXISTS `s_company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_company` (
  `S_CompanyID` int(11) NOT NULL AUTO_INCREMENT,
  `S_CompanyCode` varchar(64) DEFAULT NULL,
  `S_CompanyName` varchar(100) DEFAULT NULL,
  `S_CompanyIsActive` char(1) NOT NULL DEFAULT 'Y',
  `S_CompanyCreated` datetime NOT NULL DEFAULT current_timestamp(),
  `S_CompanyLastUpdated` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`S_CompanyID`),
  KEY `S_CompanyCode` (`S_CompanyCode`),
  KEY `S_CompanyName` (`S_CompanyName`),
  KEY `S_CompanyIsActive` (`S_CompanyIsActive`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_company`
--

LOCK TABLES `s_company` WRITE;
/*!40000 ALTER TABLE `s_company` DISABLE KEYS */;
INSERT INTO `s_company` VALUES (1,'4d04436c1fde54f24348bc5b8cc821eb','DEFAULT','Y','2023-06-19 22:02:14','2023-06-19 22:02:14');
/*!40000 ALTER TABLE `s_company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_conf`
--

DROP TABLE IF EXISTS `s_conf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_conf` (
  `S_ConfID` int(11) NOT NULL AUTO_INCREMENT,
  `S_ConfCompanyName` varchar(100) DEFAULT NULL,
  `S_ConfCompanyAddress` varchar(2000) DEFAULT NULL,
  `S_ConfCompanyPhones` varchar(255) DEFAULT NULL,
  `S_ConfCompanyEmail` varchar(100) DEFAULT NULL,
  `S_ConfPIC` varchar(2000) DEFAULT NULL,
  `S_ConfPPN` double NOT NULL DEFAULT 10,
  `S_ConfSiteName` varchar(50) DEFAULT NULL,
  `S_ConfIsActive` char(1) NOT NULL DEFAULT 'Y',
  `S_ConfCreated` datetime NOT NULL DEFAULT current_timestamp(),
  `S_ConfLastUpdate` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`S_ConfID`),
  KEY `S_ConfIsActive` (`S_ConfIsActive`),
  KEY `S_ConfPPN` (`S_ConfPPN`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_conf`
--

LOCK TABLES `s_conf` WRITE;
/*!40000 ALTER TABLE `s_conf` DISABLE KEYS */;
/*!40000 ALTER TABLE `s_conf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_menu`
--

DROP TABLE IF EXISTS `s_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_menu` (
  `S_MenuID` int(11) NOT NULL AUTO_INCREMENT,
  `S_MenuCode` varchar(25) DEFAULT NULL,
  `S_MenuName` varchar(50) DEFAULT NULL,
  `S_MenuUrl` varchar(100) DEFAULT NULL,
  `S_MenuLeft` int(11) NOT NULL DEFAULT 0,
  `S_MenuRight` int(11) NOT NULL DEFAULT 0,
  `S_MenuLevel` int(11) NOT NULL DEFAULT 1,
  `S_MenuIcon` varchar(25) DEFAULT NULL,
  `S_MenuIsActive` char(1) NOT NULL DEFAULT 'Y',
  `S_MenuCreated` datetime NOT NULL DEFAULT current_timestamp(),
  `S_MenuLastUpdated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`S_MenuID`),
  KEY `S_MenuCode` (`S_MenuCode`),
  KEY `S_MenuName` (`S_MenuName`),
  KEY `S_MenuUrl` (`S_MenuUrl`),
  KEY `S_MenuLeft` (`S_MenuLeft`),
  KEY `S_MenuRight` (`S_MenuRight`),
  KEY `S_MenuIsActive` (`S_MenuIsActive`),
  KEY `S_MenuLevel` (`S_MenuLevel`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_menu`
--

LOCK TABLES `s_menu` WRITE;
/*!40000 ALTER TABLE `s_menu` DISABLE KEYS */;
INSERT INTO `s_menu` VALUES (1,NULL,'Dashboard','/d',1,2,1,'mdi-monitor-dashboard','Y','2023-06-19 22:20:54','2023-06-28 09:32:48'),(2,NULL,'Masterdata','#',21,40,1,'mdi-monitor-dashboard','Y','2023-06-19 22:21:33','2023-06-27 11:01:27'),(4,NULL,'Jabatan','/master/position',24,25,2,NULL,'Y','2023-06-19 22:22:03','2024-01-02 10:04:00');
/*!40000 ALTER TABLE `s_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_privilege`
--

DROP TABLE IF EXISTS `s_privilege`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_privilege` (
  `S_PrivilegeID` int(11) NOT NULL AUTO_INCREMENT,
  `S_PrivilegeS_UserGroupID` int(11) NOT NULL DEFAULT 0,
  `S_PrivilegeS_MenuID` int(11) NOT NULL DEFAULT 0,
  `S_PrivilegeOptions` varchar(255) DEFAULT NULL,
  `S_PrivilegeIsActive` char(1) NOT NULL DEFAULT 'Y',
  `S_PrivilegeCreated` datetime NOT NULL DEFAULT current_timestamp(),
  `S_PrivilegeLastUpdated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`S_PrivilegeID`),
  KEY `S_PrivilegeS_UserGroupID` (`S_PrivilegeS_UserGroupID`),
  KEY `S_PrivilegeS_MenuID` (`S_PrivilegeS_MenuID`),
  KEY `S_PrivilegeIsActive` (`S_PrivilegeIsActive`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_privilege`
--

LOCK TABLES `s_privilege` WRITE;
/*!40000 ALTER TABLE `s_privilege` DISABLE KEYS */;
INSERT INTO `s_privilege` VALUES (1,1,1,NULL,'Y','2023-06-27 10:20:23','2023-06-27 14:17:26'),(3,1,4,NULL,'Y','2023-06-27 10:20:23','2023-06-27 14:23:12');
/*!40000 ALTER TABLE `s_privilege` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_user`
--

DROP TABLE IF EXISTS `s_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_user` (
  `S_UserID` int(11) NOT NULL AUTO_INCREMENT,
  `S_UserS_UserGroupID` int(11) NOT NULL DEFAULT 0,
  `S_UserS_CompanyID` int(11) NOT NULL DEFAULT 0,
  `S_UserUsername` varchar(25) DEFAULT NULL,
  `S_UserPassword` varchar(80) DEFAULT NULL,
  `S_UserPasswordDev` varchar(80) DEFAULT NULL,
  `S_UserFullName` varchar(100) DEFAULT NULL,
  `S_UserIsLogin` char(1) NOT NULL DEFAULT 'N',
  `S_UserLastLogin` datetime DEFAULT NULL,
  `S_UserLastUsed` datetime DEFAULT NULL,
  `S_UserToken` varchar(2000) DEFAULT NULL,
  `S_UserM_TagID` int(11) NOT NULL DEFAULT 0,
  `S_UserIsActive` char(1) NOT NULL DEFAULT 'Y',
  `S_UserCreated` datetime NOT NULL DEFAULT current_timestamp(),
  `S_UserLastUpdated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`S_UserID`),
  KEY `S_UserUsername` (`S_UserUsername`),
  KEY `S_UserPassword` (`S_UserPassword`),
  KEY `S_UserIsLogin` (`S_UserIsLogin`),
  KEY `S_UserLastLogin` (`S_UserLastLogin`),
  KEY `S_UserIsActive` (`S_UserIsActive`),
  KEY `S_UserS_UserGroupID` (`S_UserS_UserGroupID`),
  KEY `S_UserLastUsed` (`S_UserLastUsed`),
  KEY `S_UserM_TagID` (`S_UserM_TagID`),
  KEY `S_UserS_CompanyID` (`S_UserS_CompanyID`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_user`
--

LOCK TABLES `s_user` WRITE;
/*!40000 ALTER TABLE `s_user` DISABLE KEYS */;
INSERT INTO `s_user` VALUES (1,1,1,'admin','*F82D171544019C4AEB3D26B7AEBA9904FD54B69E','*5D36795B3151469CC53D235CF881C9A98EC8BEAD','Admin','N','2024-02-12 13:21:55',NULL,NULL,0,'Y','2023-06-19 22:05:14','2024-02-12 13:21:55');
/*!40000 ALTER TABLE `s_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_usergroup`
--

DROP TABLE IF EXISTS `s_usergroup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_usergroup` (
  `S_UserGroupID` int(11) NOT NULL AUTO_INCREMENT,
  `S_UserGroupCode` varchar(25) DEFAULT NULL,
  `S_UserGroupName` varchar(50) DEFAULT NULL,
  `S_UserGroupDashboard` varchar(255) DEFAULT NULL,
  `S_UserGroupIsActive` char(1) NOT NULL DEFAULT 'Y',
  `S_UserGroupCreated` datetime NOT NULL DEFAULT current_timestamp(),
  `S_UserGroupLastUpdated` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`S_UserGroupID`),
  KEY `S_UserGroupCode` (`S_UserGroupCode`),
  KEY `S_UserGroupName` (`S_UserGroupName`),
  KEY `S_UserGroupIsActive` (`S_UserGroupIsActive`),
  KEY `S_UserGroupDashboard` (`S_UserGroupDashboard`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_usergroup`
--

LOCK TABLES `s_usergroup` WRITE;
/*!40000 ALTER TABLE `s_usergroup` DISABLE KEYS */;
INSERT INTO `s_usergroup` VALUES (1,'ONE.GROUP.SA','Super Admin',NULL,'Y','2023-06-19 17:18:32','2023-06-19 17:18:32'),(2,'ONE.GROUP.EMPLOYEE','Karyawan',NULL,'Y','2023-06-19 17:18:32','2023-06-19 17:18:32');
/*!40000 ALTER TABLE `s_usergroup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'sibambo'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-02-12 13:26:33
